@page "/"

<PageTitle>Home - Todo App</PageTitle>

<h1>Welcome to Todo App</h1>

<p class="lead">A simple todo list application built with Blazor and .NET 10.</p>

<p>
    <a href="todos" class="btn btn-primary">Go to Todos</a>
</p>
